</main>
<footer>
    <p>Superfit © DelB </p>
    <span>Credits :</span> 
    <a href="https://www.freepik.com/free-vector/set-active-multiethnic-people-training-gym_4530318.htm#fromView=search&page=1&position=9&uuid=6e237462-bfe6-43e4-9104-3c5cb3dfe335">Image by katemangostar</a> on Freepik
</footer>
</body>
</html>