<%- include('partials/header') %>

<h1 class="title"> Ajouter un nouveau produit </h1>

<form action="/products/add" method="POST">

    * champs obligatoires

    <label class="form-field" for="name">
        <span title="Champ obligatoire">Nom *</span>
        <input class="form-input" type="text" name="name" required>
    </label>

    <label class="form-field" for="description">
        <span title="Champ obligatoire">Description *</span>
        <textarea class="form-input" name="description" cols="30" rows="20"></textarea>
    </label>

    <label class="form-field" for="weight">
        <span title="Champ obligatoire">Poids (kg) *</span>
        <input class="form-input" type="text" name="weight" placeholder="ex : 2.5" required>
    </label>

    <label class="form-field" for="name">
        <span title="Champ obligatoire">Prix (€) *</span>
        <input class="form-input" type="text" name="price" placeholder="ex : 19.99" required>
    </label>

    <button type="submit">Ajouter</button>

</form>

<%- include('partials/footer') %>