<%- include('partials/header') %>

<h1 class="title">Profil : <%= locals.user %></h1>

<p>Vous avez les droits : <%= locals.role %></p> 

<% if (locals.role === "Administrateur"){ %>
<a class="product-action" href="/products/add"><img src="/img/add.svg" alt="">Ajouter un produit</a>
<!-- <a class="product-action" href="/products/add"><img src="/img/add.svg" alt="">Supprimer un produit</a> -->
<% } %>


<%- include('partials/footer') %>