<%- include('partials/header') %>

<h1 class="title">Profil</h1>

<p>Identifiant : <span class="infos"><%= locals.user %></span></p>
<p>Accès : <span class="infos"><%= locals.role %></span></p> 

<% if (locals.role === "Administrateur"){ %>
<a class="product-action" href="/products/add"><img src="/img/add.svg" alt="">Ajouter un produit</a>
<!-- <a class="product-action" href="/products/add"><img src="/img/add.svg" alt="">Supprimer un produit</a> -->
<% } %>


<%- include('partials/footer') %>